@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-[#eef5fa];
    }

    h1 {
        @apply text-4xl font-normal text-black;
    }

    h2 {
        @apply text-xl font-medium text-gray-950;
    }

    h3 {
        @apply text-lg font-medium;
    }

    hr {
        @apply border-t border-purple-700;
    }

    .span_subtitle {
        @apply text-indigo-500 font-medium;
    }

    p {
        @apply text-slate-600 whitespace-pre-line;
    }

    a {
        @apply flex flex-row items-center gap-2 p-2 rounded-md font-medium text-gray-500 hover:bg-purple-100 hover:text-purple-700;
    }

    a:focus {
        @apply bg-purple-100 text-purple-700;
    }

    ul {
        @apply flex flex-col gap-2 ;
    }

    li {
        @apply flex flex-row items-center gap-2 text-slate-600;
    }

    .pointer {
        @apply cursor-pointer;
    }

    form {
        @apply flex flex-wrap gap-8;
    }

    fieldset {
        @apply flex flex-col bg-[#f3f4f6] border-none rounded-lg p-2 gap-1 h-20;
    }

    label {
        @apply text-sm font-extrabold text-purple-700 text-left;
    }

    span {
        @apply text-left text-purple-700;
    }

    input {
      @apply text-base text-[#464d58] rounded-lg bg-white p-2 w-full;
    }
    select {
        @apply text-base text-[#464d58] rounded-lg bg-white p-2 w-full;
    }
    button {
        @apply flex justify-center px-4 py-2 border-0 rounded text-white bg-purple-700 font-bold;
    }
}

@layer utilities {
    .radio:checked {
        background-color: theme('colors.purple.700');
        border-color: theme('colors.purple.700');
    }
}

@layer components {
    .btn-secondary {
        @apply bg-[#1bc1ac] text-slate-700;
    }

    .btn-danger {
        @apply bg-red-500 hover:bg-red-700;
    }

    .btn-footer {
        @apply flex-col bg-transparent items-center text-sm font-normal;
    }

    .content-radio {
        @apply flex gap-1;
    }

    .content-checkbox {
        @apply bg-transparent;
    }
}
